.home {
    display: flex;
    justify-content: left;
    // min-width: 100%;
    /* flex-wrap: wrap; */
}
.home__photo {
    max-width: 30vw;
    // min-width: 250px;
}
.home__image {
    width: 100%;
    min-width: inherit;
    border-radius: 5px;
    object-fit: cover;
}

.home__text {
    margin-left: 2rem;
}

.home__title,
.home__subtitle {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: capitalize;
}

.home__subtitle {
    display: inline-block;
    color: whitesmoke;
    background-color: var(--main-bg-color);
    text-align: center;
    padding: 0 0.5rem;
}

.home__description {
    margin-top: 2rem;
}
.home__description ul {
    padding-left: 1.3rem;
}
.home__description ul li {
    list-style-type: square;
    line-height: 0.8rem;
}
.home__description ul li span {
    color: whitesmoke;
    padding: 0 0.2rem;
    background-color: var(--main-bg-color);
}

@media (max-width: 450px) {
    .container {
        min-width: fit-content;
    }
    .home {
        flex-direction: column;
    }
    .home__photo {
        max-width: 100%;
    }
    .home__image {
        width: 100%;
        object-fit: cover;
    }
    .home__text {
        margin-left: 0;
        .home__title {
            margin-top: 1rem;
        }
        .home__description {
            font-size: 0.8rem;
        }
        .home__description ul li {
            list-style-type: square;
            line-height: 1rem;
        }
    }
}
