.skills {
}

.skills__title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
}

.skills__wrapper {
    display: flex;
    justify-content: space-evenly;
}

.skills__item {
}
.skills__img {
}
