.skills {
    min-height: 50vh;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 5px var(--border-line-color);
}

.skills__title {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 700;
}

.skills__list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.skills__img-wrapper {
    background-color: antiquewhite;
    width: 5rem;
    min-height: 5rem;
    margin: 0.3rem;
}

.skills__img {
    object-position: 50% 50%;
    object-fit: cover;
}
